.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 16, 27, 0.7);
  overflow: scroll;
  display: none;

  &--open {
    display: block;
  }
}

.modal__wrapper {
  position: relative;
  width: 100%;
  padding-top: 146px;
  padding-bottom: 84px;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modal__container {
  position: relative;
  z-index: 11;
  left: -8px;
  width: 500px;
  min-height: 610px;
  padding: 40px;
  background-color: #00b3ff;
  border-radius: 3px;
  margin: 0 auto;
}

.modal h3 {
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  color: $color-default-white;
  margin: 0;
}

.modal p {
  font-family: $ff-mono;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin: 0;
  width: 90%;
  margin-bottom: 40px;
}

.modal__close {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 15px;
  right: 15px;
  padding: 0;
  outline: none;

  &:focus {
    border: 1px solid $color-torch-red;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 19px;
    right: 6px;
    width: 27px;
    height: 1px;
    border-radius: 5px;
    background-color: $color-default-white;
    transform: matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
  }

  &::before {
    transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
  }
}

.modal__close:focus::after,
.modal__close:focus::before {
  top: 18px;
  right: 5px;
}

.modal__close:hover::after,
.modal__close:hover::before {
  background-color: $color-black-pearl;
}

.modal form {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0;
  padding-left: 0;
}

.modal form input[type="text"],
.modal form input[type="tel"],
form .modal__block {
  grid-column: 1/3;
}

.modal__inner button {
  grid-column: 1/3;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $color-default-white;
  background-color: #041427;
  border-radius: 3px;
  border: none;
  padding: 15px 60px;
  cursor: pointer;
  max-width: 100%;
  margin-top: 4px;
  padding-bottom: 11px;
  margin-bottom: 15px;
}

.modal__inner textarea {
  margin-bottom: 20px;
}

form .modal__block {
  display: flex;
}
